{% extends 'base_dashboard.html' %}
{% load static %}


  
      {% block content %}
      <main>
        <h1>Dashboard</h1>
        <div class="data">
          <input type="date" />
        </div>
      
      
        <!-- END OF INSIGHTS -->
      
        <div class="middle">
          <div class="recent-orders">
            <h2>Bemorlar ro'yxati</h2>
      
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Patient</th>
                  <th>Doctor</th>
                  <th>Date</th>
                  <th>Time</th>
                 
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for app in appointments %}
           
                    <tr>
                        <th></th>
                        <td>{{ app.patient }}</td>
                        <td>{{ app.doctor }}</td>
                        <td></td>
                        <td></td>
                        <td></td>   
                    </tr>
                
                {%endfor%}   
      
              </tbody>
            </table>
      
            <a href="#">Show All</a>
          </div>
        </div>
      </main>
      
      <div class="right">
        <div class="top">
          <button class="" id="menu-btn">
            <span class="material-icons-sharp">menu</span>
          </button>
      
          <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
          </div>
      
          <div class="profile">
            <div class="info">
              <p>Hey, <b>{{user.first_name}} {{user.last_name}}</b></p>
              <small class="text-muted">Admin</small>
            </div>
      
            <div class="profile-photo">
              <img src="{{ user.profile_picture.url }}" alt="profile" />
            </div>
          </div>
        </div>
      {% endblock content %}


</body>

</html>