{% load static %}
{% url 'dashboard' as dashboard_url %}
{% url 'patients' as patients_url %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Default CSS -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

  <!-- ASIDE CSS -->
  <link rel="stylesheet" href="{% static 'css/aside.css' %}" />

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />

  <!-- RIGHT SIDE CSS -->
  <link rel="stylesheet" href="{% static 'css/right-side.css' %}" />

  <!-- MEDIA CSS -->
  <link rel="stylesheet" href="{% static 'css/media.css' %}" />

  <!-- ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />

  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">


  <title>{% block title %}ROHAT DENT {% endblock title %}</title>
</head>

<body>
  <div class="container">
    <aside>
      <a href="{% url 'home' %}">
        <div class="top">
          <div class="logo">
            <img src="/media/logo.png" alt="logo" />
            <h2>ROHAT <span class="danger">DENT</span></h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-icons-sharp">close</span>
          </div>
        </div>
      </a>
      <div class="sidebar">
        <a href="{{ dashboard_url }}" class="{%if request.path == dashboard_url %}active{% endif %}">
          <span class="material-icons-sharp">grid_view</span>
          <h3>Qabul</h3>
          <span class="message-count">24</span>
        </a>
        <a href="{{ patients_url }}" class="{% if request.path == patients_url %}active{% endif %}">
          <span class="material-icons-sharp">person_outline</span>
          <h3>Bemorlar</h3>
        </a>
        <a href="{% url 'appointment_new' %}">
          <span class="material-icons-sharp">add</span>
          <h3>Qabul Qo'shish</shish>
          </h3>
        </a>
        <a href="{% url 'logout' %}">
          <span class="material-icons-sharp">logout</span>
          <h3>Log out</h3>
        </a>

      </div>
    </aside>

    <!-- ---------------- END OF ASIDE ------------------------ -->


    {% block content %}
    {% endblock content %}

  </div>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script>
      $( function() {

      $( "#tags" ).autocomplete({
        source: "{% url 'autosuggest' %}",
      });
      });

    </script>
</body>

</html>