{% extends 'base.html' %}
{% load static %}

{% block title %}Bosh sahifa{% endblock title %}

{% block content %}
    <br/>
    <div class="jumbotron">
        <h1 class="display-4">Assalom alaykum!</h1>
        <p class="lead">Rohat Dent Stomatologiyasiga xush kelibsiz! Sizning tishingiz sog'lom bo'lishi uchun bizda professional shiforlar yordamga tayyor</p>
        <hr class="my-4">
        <p>Har bir shifokor o'zining ish vaqtlarini boshqarishi uchun veb dastur</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'dashboard' %}" role="button">Dashboard</a>
           
        </p>
        <img class="rounded mx-auto d-block" style="width: 300px; " src="media/PngItem_1621073.png" alt="s">
    </div>
{% endblock content %}